.cs-hero .cs-hero_text h1.cs-hero_title{font-size:85px;font-weight:700;line-height:1.2;margin-bottom:1.5rem}
@media screen and (max-width:768px){
.cs-hero .cs-hero_text h1.cs-hero_title{font-size:50px}
}
.cs-video_block{position:relative;display:inline-block}
.video-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(22,22,22,.4);z-index:1}
.cs-player_btn{position:relative;z-index:2}
.cs-member_thumb{position:relative;aspect-ratio:1;object-fit:cover}
.cs-member_thumb img.img-partner{aspect-ratio:1;object-fit: cover;}
.cs-member_thumb::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(22,22,22,.6);z-index:1}